obj/Debug/net6.0/ref/VehicleTrafficManagement.dll
obj/Debug/net6.0/VehicleTrafficManagement.pdb
obj/Debug/net6.0/VehicleTrafficManagement.dll
obj/Debug/net6.0/VehicleTrafficManagement.csproj.FileListAbsolute.txt
obj/Debug/net6.0/VehicleTrafficManagement.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/VehicleTrafficManagement.AssemblyInfo.cs
obj/staticwebassets.pack.sentinel
bin/Debug/net6.0/ref/VehicleTrafficManagement.dll
bin/Debug/net6.0/VehicleTrafficManagement.pdb
bin/Debug/net6.0/VehicleTrafficManagement.dll
VehicleTrafficManagement.sln
VehicleTrafficManagement-Core.sln
obj/Debug/net6.0/VehicleTrafficManagement.csproj.AssemblyReference.cache
obj/Debug/net6.0/VehicleTrafficManagement.csproj.AssemblyReference.cache
obj/Debug/net6.0/VehicleTrafficManagement.assets.cache
obj/VehicleTrafficManagement.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net6.0/VehicleTrafficManagement.csproj.AssemblyReference.cache
obj/Debug/net6.0/VehicleTrafficManagement.assets.cache
obj/Debug/net6.0/VehicleTrafficManagement.csproj.AssemblyReference.cache
