bin/
obj/
*.sln
*.dll
*.exe
*.pdb
*.csproj.FileListAbsolute.txt
*.csproj.CoreCompileInputs.cache
*.csproj.AssemblyReference.cache
*.csproj.AssemblyInfo.cs
*.csproj.AssemblyInfoInputs.cache
*.csproj.sourcelink.json
*.nuget.dgspec.json
*.nuget.cache
*.assets.json
apphost.exe
staticwebassets.pack.sentinel
*.tmp
*.temp
*.log
.vscode/
*.code-workspace
*.nupkg
packages/
